@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start by <a asp-controller="Home" asp-action="NewPolicy">adding a new policy</a> or <a asp-controller="Home" asp-action="Summary"> searching for policies</a></p>
</div>
